@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>You're invited to the Halloween Party of the year!</p>
    <p>@DateTime.Now</p>
</div>
